bin/
obj/
out/

*.user
*.suo
*.userosscache
*.userprefs
*.pidb
*.svclog
*.vscode/

.vs/
*.VC.db
*.VC.VC.opendb

*.log
*.tlog
*.tmp
*.temp

appsettings.*.json
appsettings.json
secrets.json

Migrations/obj/

TestResults/
*.coverage
*.coveragexml
*.trx
*.ncrunchsolution

*.dbmdl
*.bak
*.swp
*.DS_Store
Thumbs.db
